<main>

    <div class="top">
        <div class="signout" >
            <a routerLink="login" (click)="onloginClick()">
                <img src="assets/HomePageImg/logo/Sign Out.png" alt="">
                <h3>SignOut</h3>
            </a>
        </div>
        <!-- <div><router-outlet></router-outlet></div> -->
    </div>
    <h1>Admin Dashboard</h1>

    <!--CARDS STARTED HERE-->
    <div class="cards">

        <div class="existing_profile">
            <div class="icons">
                <img src="assets/HomePageImg/logo/Guest Types.png" alt="">
            </div>

            <div class="card-body">
                <a>Manage Customers</a>
            </div>
        </div>
    </div>
</main>
<!-- <router-outlet></router-outlet> -->
<!--CARDS ENDED HERE-->