<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<html>
<main>
    <div class="top">
        <div class="signout" routerLink="login">
            <a routerLink="login">
                <img src="assets/HomePageImg/logo/Sign Out.png" alt="">
                <h3>SignOut</h3>
            </a>
        </div>
        <!-- <div><router-outlet></router-outlet></div> -->
     </div>
    <!--TOP ENDS HERE-->


    <h1>Customer</h1>
    <div class="cards">
        <div class="customer">
            
            <div class="card-body">
                <p>Tanmoy Bhattacharya</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches1">
                    <label class="custom-control-label" for="customSwitches1"></label>
                </div>
            </div>
        </div>
    
        <div class="customer">
            
            <div class="card-body">
                <p>H.R. Basavaraj</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches2">
                    <label class="custom-control-label" for="customSwitches2"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Bhikhabhai Baraiya.</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches3">
                    <label class="custom-control-label" for="customSwitches3"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Banwari Lal Sharma.</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches4">
                    <label class="custom-control-label" for="customSwitches4"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Bankim Chandra Ray.</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches5">
                    <label class="custom-control-label" for="customSwitches5"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Ranjit Singh Balian</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches6">
                    <label class="custom-control-label" for="customSwitches6"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Bakshi Tek Chand.</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches7">
                    <label class="custom-control-label" for="customSwitches7"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Ajit Pawar</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches8">
                    <label class="custom-control-label" for="customSwitches8"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Amit Shah</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches9">
                    <label class="custom-control-label" for="customSwitches9"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Arjun Ram Meghwal</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches10">
                    <label class="custom-control-label" for="customSwitches10"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Aparna Yadav</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches11">
                    <label class="custom-control-label" for="customSwitches11"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Anbumani Ramadoss</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches12">
                    <label class="custom-control-label" for="customSwitches12"></label>
                </div>
            </div>
        </div>

        <div class="customer">
            
            <div class="card-body">
                <p>Babul Supriyo</p>
            </div>
            <div class="icons">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches13">
                    <label class="custom-control-label" for="customSwitches13"></label>
                </div>
            </div>
        </div>


    </div>
    <!--CARDS ENDED HERE-->
    <!-- <router-outlet></router-outlet> -->
</main>
</html>